.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 12px;
}

html::-webkit-scrollbar-track{
  background: #282c34;
  box-shadow: inset 0 0 40px 5px rgb(48, 47, 51);
}

html::-webkit-scrollbar-thumb{
  background: #16181b;
}

html::-webkit-scrollbar-thumb:hover{
  background: #15151a
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding-left: 2%;
}

.App-body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.duffieldtimber.com/_1200x628_crop_center-center_none/Office-Desk-2.jpg?mtime=20200608173731&focal=none");
  background-color: rgb(219, 224, 174);
  background-repeat: no-repeat;
  background-size: cover;
}
